{% extends "layout.html" %}
{% block content %}

	<!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
     	<h1 class="title"><img class="logo" src="/static/img/logo.png"></h1>
    </header>

    <div class="content">

    	<div class="content-padded homepage">
    		<h2>Select a Room.</h2>
    		<h3>Post about anything. Anonymously.</h3>
    	</div>

    	<ul class="table-view">
		  <li class="table-view-cell">
		    <a href="/mpstme" class="navigate-right">
		      NMIMS MPSTME
		    </a>
		  </li>
		  <li class="table-view-cell">
		    <a href="/dpsrkp" class="navigate-right">
		      DPS RKP
		    </a>
		  </li>
		</ul>

		<div class="content-padded">
			<a href="#about" class="btn btn-primary btn-block">What's Babbl?</a>
		</div>


    </div>

    <div id="about" class="modal">
	  <header class="bar bar-nav">
	    <a class="icon icon-close pull-right" href="#about"></a>
	    <h1 class="title">About Babbl</h1>
	  </header>

	  <div class="content">
	    <p class="content-padded">
	    	Babbl is a group-based network where people can post about anything anonymously. Technically, we don't ask any user for their identity, in any form.
	    </p>

	    <p class="content-padded">
	    	We don't plan to host any funny comments about someone, or any embarassing stuff. Still reading this? Oh well, go ahead, we don't give a shit about what you post.
	    </p>

	  </div>
	</div>

{% endblock %}